/*  ---------------------------------------------------
	:: _landings.scss
	------------------------------------------------ */
	#landingLogo img{
		max-height:140px;
	}
	#landingImage {
		display:block;
		margin-bottom:20px;
	}
	#landingForm.medium-10 textarea{
		min-height:200px;
	}
