.print-only { display: none !important; }

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important; 
	}
	
	#sidebar,
	#footer .nav,
	#header { display:none; }
	
	#copy { width:auto; float:none; }
	
	#copy a:link:after, #copy a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
	}
	
	a[href]:after { content: " (" attr(href) ")"; }
	
	img { max-width: 100% !important; }
	
	@page { margin: 0.5cm; }
	
	p, h2, h3 {
		orphans: 3;
		widows: 3; 
	}
	h2, h3 { page-break-after: avoid; }
	.hide-on-print { display: none !important; }
	.print-only { display: block !important; }
	.hide-for-print { display: none !important; }
	.show-for-print { display: inherit !important; }

}