/* CSS Document */

/*==================================*/
/*    Author: Chris Johnson         */
/*    Company: Corporate 3 Design   */
/*    Date: October 8, 2008         */
/*==================================*/

/*==================================*/
/*---------- PAGE/GENERAL ----------*/
/*==================================*/
* {
	margin: 0;
	padding: 0;
}


html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family:"Arial", Helvetica, sans-serif;
	font-size: 100%;
	line-height: 100%;
	background-color:#7C858E;
}

.clear {
	clear:both;height:0;line-height:0;font-size:0;
}

a:link {color: #fff; text-decoration: none;}
a:visited {color: #fff; text-decoration: none;}
a:hover {text-decoration: underline; color: #fff;}
a:active {text-decoration: none;}

img {
	border: 0;
}

#wrapper_bg {
	width: 100%;
	background: url(../images/login/wrapper_bg.jpg) top left repeat-x #CCD1D7;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 80px 0 20px 0;
	text-align:center;
	background:url(/managementcenter/images/login/wrapped_logo.jpg) no-repeat 10% 50px;
}

/*==================================*/
/*------------- Header -------------*/
/*==================================*/

#logo {
	width: 180px;
	height: 125px;
	background: url(../images/login/mclogo.gif) 0px 28px no-repeat;
	margin:0 auto;
}

#logo a{
	width: 270px;
	height: 125px;
	display: block;
}

/*==================================*/
/*------------- Footer -------------*/
/*==================================*/

#footer {
	clear: both;
	width: 100%;
	background: url(../images/login/footer_bg.jpg) repeat-x 0px 0px;
	color: #fff;
	text-align: center;
	font-size: .7em;
	padding: 65px 0 0 0;
	height: 80px;
}

#corporate3design {
	background: url(../images/main/logo_header.png) no-repeat 0px 0px;
	width: 307px;
	height: 82px;
	margin: 0 auto;
}

#corporate3design a {
	display: block;
	width: 135px;
	height: 39px;
}


/*==================================*/
/*------------- Content ------------*/
/*==================================*/

label {
	color: #002e4c;
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	margin: 12px 0 12px 0;
	background-color: #fff;
	border: 1px solid #a4a4a4;
	width: 248px;
	height: 24px;
	padding: 3px 1px 3px 1px;
	font-size: 1.1em;
}

button {
	margin: 10px auto 10px;
	background: url(../images/login/login_but.gif) top left no-repeat;
	width: 131px;
	height: 29px;
	border: none;
	cursor:pointer;
	display:block;
	text-indent:-3000em;
	text-align:left;
	overflow:hidden;
}

button:hover {
	background: url(../images/login/login_but.gif) 0px -29px no-repeat;
}

p.forgetmenot {
	font-size: .8em;
}

p.forgetmenot input {
	margin: 0 5px 0 0;
}

p.forgetpassword {
	padding: 10px 0 0 0;
	text-align: center;
	font-size: .7em;
	color: #002e4d;
	cursor: pointer;
	margin: 0 auto;
}

p.forgetpasswordinfo {
	font-size: .7em;
	color: #002e4d;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
}

p.forgetpasswordinfo a {
	text-decoration: underline;
	color: #002e4d;
}

p.forgetpasswordinfo a:hover {
	text-decoration: underline;
	color: #1f5c85;
}

.error {
	width: 248px;
	background-color: #cb092f;
	border: 1px solid #8f0621;
	text-align: center;
	color: #fff;
	font-size: .8em;
	line-height: 130%;
	margin: 0 auto 12px;
	font-weight: bold;
}