/*  ---------------------------------------------------
	:: Forms
	------------------------------------------------ */
	
	/*  Set the defaults for Form margins as wel as 
		defautl styling for forms that have rows inside */
	form { 
		margin: 0 0 1rem; 
		.row {
			.row {
				margin: 0 -0.5rem; 
				.column, .columns { padding: 0 8px; }
				&.collapse {
					margin: 0;
					.column, .columns { padding: 0; }
					input {
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
					}
				}
			}
		}
	}
	
	
	/* Label Styles */
	label {
		cursor: pointer;
		display: block;
		font-size: 14px;
		color: $darkGray;
		font-weight: normal;
		line-height: 1.5;
		margin-bottom: 0;
		.right {
			float: none !important;
			text-align: right;
		}
		span { 
			color: $mainColor;
			font-size: inherit;
		}
	}
	
	
	/* We use this to get basic styling on most input elements */
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	textarea {
		-webkit-appearance: none;
		display: block;
		background-color: white;
		font-family: inherit;
		border:1px solid #cccccc;
		border-radius: 0px;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.75);
		font-size: 16px;
		margin: 0 0 16px 0;
		padding: 8px;
		height: 34px;
		width: 100%;
		transition: box-shadow 0.2s, border-color 0.2s ease-in-out; 
		&:focus {
			box-shadow: 0 0 5px #999999;
			border-color: #999999;
			background: #fafafa;
		    outline: none;
		}
		&:disabled,
		&[disabled] {
			background-color: #dddddd;
			cursor: default;
		}	
	}	
	textarea {
		min-height:150px;
		max-width: 100%; /* Not allow resize out of parent */
		&[rows] { height:auto; } /* Respect enforced amount of rows for textarea */
	}
	
		/* Style what their Placeholder text will look like */
		.placeholder 				{ color:#888; }
		::-webkit-input-placeholder { color:#888; }
		:-moz-placeholder 			{ color:#888; } 
		::-moz-placeholder 			{ color:#888; } 
		:-ms-input-placeholder 		{ color:#888; }
	
	
	/*  The background-image tag might look funky but that's because
		it's an inline SVG that makes a small gray down arrow */
	select {
		-webkit-appearance: none !important;
		border-radius: 0px;
		background-color: #fafafa;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
		background-position: 100% center;
		background-repeat: no-repeat;
		border: 1px solid #cccccc;
		padding: 8px;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.75);
		line-height: normal;
		border-radius: 0;
		height: 34px;
		width:100%;
		&:hover {
			background-color: #f3f3f3;
			border-color: #999999; 
		} 
		&:disabled {
			background-color: #dddddd;
			cursor: default; 
		}
		&::-ms-expand { display: none; }
	}
	
	
	/* Custom Checkbox styling to make them sit inline */
	input[type="checkbox"] + label,
	input[type="radio"] + label {
		display: inline-block;
		margin-left: 2px;
		margin-right: 16px;
		margin-bottom: 0;
		vertical-align: baseline; 
	}


	/* Misc Form Element Styling  */
	input[type="submit"] {
		-webkit-appearance: none;
		border-radius: 0px; 
	}
	input[type="file"],
	input[type="checkbox"],
	input[type="radio"],
	select { margin: 0 0 16px 0; }
	
	input[type="file"] { width: 100%; }


	fieldset {
		border: 1px solid $lightGray;
		padding: 14px 18px 0 18px;
		margin: 18px 0; 
		legend {
			font-weight: bold;
			background: white;
			padding: 0 2px;
			margin: 0;
			margin-left: -2px; 
		}
	}


	
	/* Error Handling */
	label.error { color: #c60f13; }
	
	[data-abide] .error small.error, 
	[data-abide] .error span.error, 
	[data-abide] span.error, 
	[data-abide] small.error {
		display: block;
		padding: 4px 8px 8px;
		margin-top: -1px;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		background: $red;
		color: white; 
	}
		[data-abide] span.error, 
		[data-abide] small.error { display: none; }
	
	span.error, small.error {
		display: block;
		padding: 4px 8px 8px;
		margin-top: -1px;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: bold;
		font-style: normal;
		background: $red;
		color: white; 
	}
	
	.error label, 
	.error label.error { color: $red; }
	
	.error input, .error textarea, .error select,
	input.error, textarea.error, select.error { margin-bottom: 0; }
	
		.error input[type="checkbox"],
		.error input[type="radio"] { margin-bottom: 1rem; }
	
		.error > label > small {
			color: $midGray;
			background: transparent;
			padding: 0;
			text-transform: none;
			font-style: normal;
			font-size: 60%;
			margin: 0;
			display: inline; 
		}
		.error span.error-message { display: block; }


	/* Honey Pot! */
	.nameFirst{ display:none; }
	
	
	/*  Attach elements to the beginning/end of an input.
		It's likely not going to be used, but we are keeping
		it around because it is extremely nice/useful.
		.prefix,
		.postfix {
			display: block;
			position: relative;
			z-index: 2;
			text-align: center;
			width: 100%;
			padding-top: 0;
			padding-bottom: 0;
			border-style: solid;
			border-width: 1px;
			overflow: hidden;
			font-size: 0.875rem;
			height: 2.3125rem;
			line-height: 2.3125rem; 
			&.button {
				padding-left: 0;
				padding-right: 0;
				padding-top: 0;
				padding-bottom: 0;
				text-align: center;
				line-height: 2.125rem;
				border: none;
			}
		}
	*/

	