/*  ---------------------------------------------------
	:: Promo Section (Carousel/Hero-Image)
	------------------------------------------------ */	

#promo{
		
	.orbit-container{
		height: auto !important;
	}
	
	.orbit-slide{
		max-height: none !important;
	}
	
	.orbit-previous, .orbit-next{
		font-family: sans-serif;
		
		svg{
			width: 2.5rem;
			height: 4.5625rem;
		}
	}
	
	nav.orbit-bullets{
		position: absolute;
		bottom: 1rem;
		width: 100%;
		margin: 0;
		
		button{ 
			background: $white;
			opacity: 0.7;
			
			&.is-active, &:hover{
				opacity: 1;
			}
		}
	}
	
	.orbit-next, .orbit-previous{
		opacity: 0.5;
		transition: opacity 0.5s;
		&:hover, &:active, &:focus{
			background: transparent;
			opacity: 1;
		}
	}
	
	/* ---- Medium Width screens and up ---- */
	@media only screen and (min-width: #{map-get($breakpoints, medium)} ) {
		
		
	}
	
	/* ---- Large Width screens and up ---- */
	@media only screen and (min-width: #{map-get($breakpoints, large)}) {
		
	}
	
}
	

